<h1><%=@user.name%></h1>


<ul>
<% @preferences.each do |preference| %>
<li>
<%= link_to Category.find(preference.category_id).title, "/categories/#{preference.category_id}" %>
<%= link_to "Remove", preference, method: :delete %>
</li>
<% end %>
</ul>

<ul>
<% @user.charities.each do |charity| %>
<li>
<%= charity.name %>
</li>
<% end %>
</ul>

<%= link_to "Select More Categories" , "/categories" %>