<h1><%=@user.name%></h1>


<% if @results == [] %>
	<h2>You have no established preferences</h2>
<% elsif @results[@i.to_i] != nil %>
<h2>Your matches</h2>
<%= Charity.find(@results[@i.to_i].charity_id).name %>
<br />
<%= link_to "Next Charity" , user_path(:i => "#{(@i.to_i+1)}") %>
<br />
<% else %>
<h3>You have no more matching charities</h3>
<%= link_to "Back to first result" , user_path(:i => "0") %>
Or:
<br />
<%= link_to " Adjust Your Preferences" , "/categories" %>
<% end %>
<br />
<br />

<% if @results != [] %>
	<h3>Your Preferences</h3>
	<ul>
	<% @preferences.each do |preference| %>
		<li>
		<%= link_to Category.find(preference.category_id).title, "/categories/#{preference.category_id}" %>
		<%= link_to "Remove", preference, method: :delete %>
		</li>
		<%end%>
<% else %>
	<h3><%= link_to " Adjust Your Preferences" , "/categories" %></h3>
<% end %>

</ul>
<br />
<h4>Your charity of the month</h4>
<% if current_user.next_donation != nil %>
<br />
	<%= Charity.find(current_user.next_donation).name %>
<% end %>